---
layout: archive
title: "🖥️ Projects"
permalink: /publications/
author_profile: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 15px 30px; 
            border: none;
        }
        td {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
            background-color: #fff; 
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
            transform-origin: center; 
            position: relative;
            border: none;
        }
        td:hover {
            transform: scale(1.03); 
            box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
            border: none;
        }
        .folder-icon {
            width: 35px; 
            position: absolute;
            left: 35px;
            top: 20px;
        }
        .github-icon {
            width: 35px; 
            position: absolute;
            right: 30px;
            top: 20px;
        }
        h1, h2, p {
            margin: 0 0 10px 0; 
            padding: 0 30px;
            text-align: left;
        }
        .badge-container {
            text-align: left;
            padding-left: 30px;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
<p style="padding-top: 10px">I am passionate about bringing learning to life through building projects, as each one is a milestone in my journey of exploration and understanding 🚀.</p>
<p>Below are some of my projects since I first entered the field of Computer Science at UVA:</p>
<br>
<table>
  <tr>
    <td width="50%" onclick="window.location='https://github.com/huy310304/SAT-score-prediction';" style="cursor: pointer;">
        <img class="folder-icon" src="../images/icons8-folder.gif" alt="Folder Icon"/>
        <img class="github-icon" src="../images/github.png" alt="GitHub Icon"/>
        <p style="padding-top: 60px; font-size:15px; color: cyan; font-weight: bold;">2023</p>
        <h1 style="">📊 SAT Score Prediction</h1>
        <p style="font-size:15px">This project employs custom-built neural network models with PyTorch and Numpy to predict SAT scores from GPA and other factors.</p>
        <br>
        <div class="badge-container">
            <img src="https://img.shields.io/badge/Python-3776AB?style=flat&logo=python&logoColor=white" alt="Python"/>
            <img src="https://img.shields.io/badge/PyTorch-%23EE4C2C.svg?&style=flat&logo=PyTorch&logoColor=white" alt="Pytorch"/>
            <img src="https://img.shields.io/badge/Numpy-%23013243.svg?&style=flat&logo=numpy&logoColor=white" alt="Numpy"/>
            <img src="https://img.shields.io/badge/Pandas-%23150458.svg?style=flat&logo=pandas&logoColor=white" alt="Pandas"/>
        </div>
    </td>
    <!-- Repeat for the second cell -->
    <td width="50%" onclick="window.location='https://github.com/huy310304/MATLAB-GUI-main';" style="cursor: pointer;">
        <img class="folder-icon" src="../images/icons8-folder.gif" alt="Folder Icon"/>
        <img class="github-icon" src="../images/github.png" alt="GitHub Icon"/>
        <p style="padding-top: 60px; font-size:15px; color: cyan; font-weight: bold;">2023</p>
        <h1 style="">📈 MATLAB-GUI</h1>
        <p style="font-size:15px">Simplification of Multivariable Calculus concepts using MATLAB UI App for generating vectors field with vector line integral calculations.</p>
        <br>
        <div class="badge-container">
            <img src="https://img.shields.io/badge/Python-3776AB?style=flat&logo=python&logoColor=white" alt="Python"/>
            <img src="https://img.shields.io/badge/MATLAB-F58025?style=flat&logo=matlab&logoColor=white" alt="MATLAB"/>
            <img src="https://img.shields.io/badge/Calculus-FF0000.svg?style=flat&logo=libreofficemath&logoColor=white" alt="Calculus"/>
        </div>
    </td>
  </tr>
    <!-- Next Row -->
  <tr>
    <td width="50%" onclick="window.location='https://github.com/huy310304/GPUMD-UVA';" style="cursor: pointer;">
        <img class="folder-icon" src="../images/icons8-folder.gif" alt="Folder Icon"/>
        <img class="github-icon" src="../images/github.png" alt="GitHub Icon"/>
        <p style="padding-top: 60px; font-size:15px; color: cyan; font-weight: bold;">2023</p>
        <h1 style="">⚛️ GPUMD UVA</h1>
        <p style="font-size:15px">This project focuses on investigating the thermal properties of high-entropy alloys (HEAs) using molecular dynamics (MD) simulations through GPUMD package.</p>
        <br>
        <div class="badge-container">
            <img src="https://img.shields.io/badge/Python-3776AB?style=flat&logo=python&logoColor=white" alt="Python"/>
            <img src="https://img.shields.io/badge/Numpy-%23013243.svg?&style=flat&logo=numpy&logoColor=white" alt="Numpy"/>
            <img src="https://img.shields.io/badge/Matplotlib-11557c?style=flat" alt="Matplotlib"/>
            <img src="https://img.shields.io/badge/Linux-FCC624?style=flat&logo=linux&logoColor=black" alt="Linux"/>
            <img src="https://img.shields.io/badge/GPUMD-add8e6?style=flat" alt="GPUMD"/>
            <img src="https://img.shields.io/badge/UVA%20Rivanna-000000?style=flat" alt="UVA Rivanna"/>
        </div>
    </td>
    <!-- Repeat for the second cell -->
    <td width="50%" onclick="window.location='https://github.com/huy310304/flappy-bird-game';" style="cursor: pointer;">
        <img class="folder-icon" src="../images/icons8-folder.gif" alt="Folder Icon"/>
        <img class="github-icon" src="../images/github.png" alt="GitHub Icon"/>
        <p style="padding-top: 60px; font-size:15px; color: cyan; font-weight: bold;">2023</p>
        <h1 style="">🎮 Flappy Bird Game - UVA CS 1110</h1>
        <p style="font-size:15px">Replication of Flappy Bird Game at UVA Introduction to Programming course using uvage library provided by professors in UVA CS Department.</p>
        <br>
        <div class="badge-container">
            <img src="https://img.shields.io/badge/Python-3776AB?style=flat&logo=python&logoColor=white" alt="Python"/>
            <img src="https://img.shields.io/badge/pygame-FFFF00?style=flat&logo=pygame&logoColor=white" alt="pygame"/>
            <img src="https://img.shields.io/badge/uvage-F58025?style=flat" alt="uvage"/>
            <img src="https://img.shields.io/badge/Programming%20Fundamentals-E34F26?style=flat&logo=basic-knowledge&logoColor=white" alt="Programming Fundamentals"/>
        </div>
    </td>
  </tr>
     <!-- Next Row -->
  <tr>
    <td width="50%" onclick="window.location='https://github.com/huy310304/number-test-game';" style="cursor: pointer;">
        <img class="folder-icon" src="../images/icons8-folder.gif" alt="Folder Icon"/>
        <img class="github-icon" src="../images/github.png" alt="GitHub Icon"/>
        <p style="padding-top: 60px; font-size:15px; color: cyan; font-weight: bold;">2023</p>
        <h1 style="">⌨️ Number Test Game</h1>
        <p style="font-size:15px">A CLI-based Python game where players input a number to receive scores based on its traits, featuring account management and a leaderboard.</p>
        <br>
        <div class="badge-container">
            <img src="https://img.shields.io/badge/Python-3776AB?style=flat&logo=python&logoColor=white" alt="Python"/>
            <img src="https://img.shields.io/badge/tkinter-3776AB?style=flat&logo=tkinter&logoColor=white" alt="tkinter"/>
            <img src="https://img.shields.io/badge/Programming%20Fundamentals-E34F26?style=flat&logo=basic-knowledge&logoColor=white" alt="Programming Fundamentals"/>
            <img src="https://img.shields.io/badge/OOP-4CA143?style=flat&logo=object-oriented-programming&logoColor=white" alt="OOP"/>
        </div>
    </td>
    <!-- Repeat for the second cell -->
  </tr>
</table>
</body>
</html>




<!--https://github.com/huy310304/huy310304.github.io/assets/114793725/9cfc3101-922c-4a76-ba43-75b0b44dcd29
{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}-->

