---
layout: archive
title: "👨‍🏫 Teaching Assistant"
permalink: /teaching/
author_profile: true
---

<p>As a Teaching Assistant, I love helping students learn and grow and I enjoy making learning fun and interesting 🎉. My job is to support students, answer their questions, and help them understand tough concepts.</p>

<p>For me, it's not just about teaching stuff; it's about encouraging students to be curious, confident, and making them feel comfortable and excited about learning 🚀.</p>

<p>Below are the courses I have been a Teaching Assistant for. Please click on the links for more detailed information:</p>

<blockquote>Grading homework? I roll out the red carpet for success with full marks for all! 🌟📝</blockquote>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
