{% assign news_items = site.news | sort: "date" | reverse | slice: 0, include.limit -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="px-3 pb-1 small">
        {% for item in news_items %}
        <div class="d-flex align-items-start py-2 {% if forloop.first == false %}border-top border-gray{% endif %}">
            <div class="mr-3 text-muted my-0 no-break flex-shrink-0" style="min-width: 4.5rem;">{{ item.date | date: "%b %Y" }}</div>
            <div class="flex-grow-1 news-item-title">{{ item.title | markdownify }}</div>
        </div>
        {% endfor %}
    </div>
</div>
